<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sales_Order_Transformation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sales_Order_Transformation.My.MySettings.ntlsConnectionString"
            connectionString="Data Source=223.255.178.194,11433;Initial Catalog=ntls;Persist Security Info=True;User ID=ntlsdoc;Password=ntls@2121"
            providerName="System.Data.SqlClient" />
        <add name="Sales_Order_Transformation.My.MySettings.TECHLINKConnectionString"
            connectionString="Data Source=172.16.0.11;Initial Catalog=TECHLINK;Persist Security Info=True;User ID=erp;Password=erp@123"
            providerName="System.Data.SqlClient" />
        <add name="Sales_Order_Transformation.My.MySettings.ntls_sotConnectionString"
            connectionString="Data Source=223.255.178.194,11433;Initial Catalog=ntls_sot;Persist Security Info=True;User ID=sa;Password=ntls@2252;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Sales_Order_Transformation.My.MySettings.DSCSYSConnectionString"
            connectionString="Data Source=172.16.0.11;Initial Catalog=DSCSYS;Persist Security Info=True;User ID=erp;Password=erp@123"
            providerName="System.Data.SqlClient" />
        <add name="Sales_Order_Transformation.My.MySettings.SOTConnectionString"
            connectionString="Data Source=172.16.0.11;Initial Catalog=SOT;Persist Security Info=True;User ID=erp;Password=erp@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Sales_Order_Transformation.My.MySettings>
            <setting name="cfg_src_hostname" serializeAs="String">
                <value>223.255.178.194</value>
            </setting>
            <setting name="cfg_src_port" serializeAs="String">
                <value>11433</value>
            </setting>
            <setting name="cfg_src_usrname" serializeAs="String">
                <value>ntlsdoc</value>
            </setting>
            <setting name="cfg_src_pw" serializeAs="String">
                <value>ntls@2121</value>
            </setting>
            <setting name="cfg_src_db" serializeAs="String">
                <value>ntls</value>
            </setting>
            <setting name="cfg_tar_hostname" serializeAs="String">
                <value>172.16.0.11</value>
            </setting>
            <setting name="cfg_tar_port" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_tar_usrname" serializeAs="String">
                <value>erp</value>
            </setting>
            <setting name="cfg_tar_pw" serializeAs="String">
                <value>erp@123</value>
            </setting>
            <setting name="cfg_tar_db" serializeAs="String">
                <value>TECHLINK</value>
            </setting>
            <setting name="cfg_sender" serializeAs="String">
                <value>vntechlink@gmail.com</value>
            </setting>
            <setting name="cfg_sender_pw" serializeAs="String">
                <value>!QAZxdr5</value>
            </setting>
            <setting name="cfg_recipients" serializeAs="String">
                <value />
            </setting>
            <setting name="cfg_spt" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="cfg_int_day" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfg_int_hrs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfg_int_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dummy" serializeAs="String">
                <value />
            </setting>
            <setting name="session_number" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strCNVN" serializeAs="String">
                <value>Data Source={0}; Initial Catalog={1}; User ID={2}; Password={3}</value>
            </setting>
            <setting name="supw" serializeAs="String">
                <value>!QAZxdr5</value>
            </setting>
            <setting name="notification_email_body" serializeAs="String">
                <value>Dear Sir/Madam,

* Please don't reply this email!

This is an automatic email generated by ERP Interface to keep you posted on daily sales orders tranformation from Multiable HK to Workflow VN. 

SOT session number {0} has been completed.
Start point: {6}
Total failed to update main order: {1}
Total failed to update sub order: {2}
Total failed importing due to missing product code: {3}
Total successfully update sub order: {4}
Total successfully place new sub order: {5}
Please find in attach the details of this session.

Thank you and Best regards,
ERP Team</value>
            </setting>
            <setting name="strCmdDIC" serializeAs="String">
                <value>SELECT RTRIM(dbo.MAINSODIC.XA001) AS XA001, RTRIM(dbo.MAINSODIC.XA002) AS XA002, RTRIM(dbo.MAINSODIC.XA003) AS XA003
FROM dbo.MAINSODIC</value>
            </setting>
            <setting name="strCmdBL" serializeAs="String">
                <value>SELECT * FROM dbo.BLCOPXB</value>
            </setting>
        </Sales_Order_Transformation.My.MySettings>
    </userSettings>
</configuration>